@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&family=Poppins:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #0A2530;
}

h2 {
    font-size: 14px;
    line-height: 18px;
}

h3 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

button {
    border: none;
    outline: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

ul {
    list-style: none;
}

input,
select {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #6C7072;
    padding: 11px 14px;
    border: 1px solid #EDEEF0;
    border-radius: 4px;
    outline: none;
}

select {
    appearance: none;
    position: relative;
}

.container {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.header {
    background-color: #083644;
    padding: 17px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__back {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
    background-color: transparent;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 2px;
}

.header__icons {
    display: flex;
    gap: 24px;
}

.icon {
    position: relative;
}

.icon__counter {
    position: absolute;
    right: -6px;
    bottom: -4px;
    font-size: 9px;
    background-color: red;
    font-weight: 500;
    border-radius: 100%;
    color: #FFFFFF;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__wrapper {
    min-height: calc(100vh - 65px);
    padding-top: 16px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 18px;
}

.filter__item_full {
    width: 100%;
}

.filter__item_half {
    width: calc(50% - 6px);
}

.artist-error {
    font-size: 12px;
    line-height: 15px;
    color: red;
    display: block;
    margin-top: 3px;
    margin-left: 3px;
}

.select-wrapper__item {
    width: 100%;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: '';
    background-image: url("../images/icons/down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 12px;
    height: 6px;
}

.filter__button {
    padding: 11px 148px;
    background-color: #083644;
    border-radius: 4px;
}

.collection {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.collection__item {
    width: calc(50% - 6px);
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
}

.collection__image {
    margin-bottom: 5px;
    border-radius: 8px;
    width: 100%;
}

.collection__title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collection__artist {
    margin-bottom: 4px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collection__style {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collection__country {
    margin-bottom: 8px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.light-text {
    color: #738286;
}

.collection__button-add {
    padding: 14px 55px;
    width: 100%;
    background-color: #083644;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.collection__button-fav {
    border-radius: 4px;
    background-color: #FFFFFF;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.collection__button-fav::after {
    content: '';
    position: absolute;
    background-image: url('../images//icons/favorite-black-outline.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collection__button-fav_active::after {
    background-image: url('../images//icons/favorite-red.svg');
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination__item {
    color: #738286;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.pagination__item_active {
    background-color: #0A2530;
    color: #FFFFFF;
    cursor: auto;
    pointer-events: none;
}

@media screen and (min-width: 1240px) {
    .collection__item {
        width: calc(25% - 12px);
    }
}